{% include "base.html" %}
{% block title %}
<div class="h2">プロフィール</div>
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div>{{ user.username }}のプロフィール</div>
<div class="h2">Welcome {{ user.username }}</div>
{% endif %}
<form method="post" action="{% url 'accounts:logout' %}">
    {% csrf_token %}
    <button type="submit">ログアウト</button>
</form>
{% endblock %}
<br>
<a href="{% url 'finances:income_list' %}" class="btn btn-secondary">収入一覧に移動</a>
<a href="{% url 'finances:expense_list' %}" class="btn btn-secondary">支出一覧に移動</a>
