{% extends 'base.html' %}
{% block title %}
プロフィール
{% endblock title %}
{% block header %}
プロフィール
{% endblock header %}
{% block content %}
{% if user.is_authenticated %}
<br>
<h4>ユーザー名：{{ user.username }}</h4>
<div class="card" style="width: 23rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">メールアドレス: {{ user.email }}</li>
    <li class="list-group-item">誕生日: {{ user.birthday }}</li>
    <li class="list-group-item">学部: {{ user.what_grade }}</li>
    <li class="list-group-item">家族と同居: {{ user.live_with_family }}</li>
    <li class="list-group-item">最終ログイン日時: {{ user.last_login }}</li>
  </ul>
</div>
<br>
<form method="post" action="{% url 'accounts:logout' %}">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger">ログアウト</button>
</form>
{% endif %}

<br>
<a href="{% url 'finances:income_list' %}" class="btn btn-secondary">収入一覧に移動</a>
<a href="{% url 'finances:expense_list' %}" class="btn btn-secondary">支出一覧に移動</a>
{% endblock content %}
